network_cidr = "10.0.2.0/24" # optional - default value: 192.168.250.0/24

vm_groups = {
  # Download: https://cloud.debian.org/images/cloud/trixie/latest/debian-13-genericcloud-amd64.qcow2
  nextcloud = {
    count          = 1
    base_image     = "./images/debian-13-genericcloud-amd64.qcow2"
    memory         = 6162
    vcpu           = 2
    disk_size      = 30 # GB
    cloudinit_file = "./cloud-init/nextcloud-s3-example.yaml"
    ip_address     = ["10.0.2.17"] # optional
  }  

  monitoring = {
      count          = 1
      base_image     = "./images/debian-13-genericcloud-amd64.qcow2"
      memory         = "2048"
      vcpu           = 2
      disk_size      = 20 # GB
      cloudinit_file = "./cloud-init/sys-monitoring-example.yaml"
      ip_address     = ["10.0.2.10"] # optional
  }
  
  # Kali qemu VM - no cloud
  # Download: https://kali.download/base-images/kali-2025.2/kali-linux-2025.2-qemu-amd64.7z
  kali = {
      count          = 1
      base_image     = "./images/kali-linux-2025.2-qemu-amd64.qcow2"
      memory         = "2048"
      vcpu           = 2
      disk_size      = 81 # GB
  }

}
